.blocks {
  /* display: flex; */
  transition: all;
  transition-duration: 2s;
}

.block {
  position: absolute;
  width: 30px;
  height: 30px;
  /* margin-left: 50px; */
  border: rgb(32, 32, 32) solid 5px;
  border-radius: 90px;
  background-color: white;
  align-items: center;

  display: flex;

  transition: all;
  transition-duration: 2s;
}

label {
  align-self: center;
  margin: auto;
  font-size: 20px;
}

.line {
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: black;
  transition: all;
  transition-duration: 2s;
}

.arrowhead {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  border-left: 8px solid black;

  transition: all;
  transition-duration: 2s;
}

.arrow {
  transition: all;
  transition-duration: 2s;
}
