.blocks {
  /* display: flex; */
  transition: all;
  transition-duration: 2s;
}

.block {
  position: absolute;
  width: 30px;
  height: 30px;
  /* margin-left: 50px; */
  border: rgb(32, 32, 32) solid 5px;
  border-radius: 90px;
  background-color: white;
  align-items: center;

  display: flex;

  transition: all;
  transition-duration: 2s;
}

label {
  align-self: center;
  margin: auto;
  font-size: 20px;
}

.line {
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: black;
}
